@import '../../common/styles/_templates.scss';

* {
  box-sizing: border-box;
}

.loader {
  margin-top: 45px;
}

.card {
  --image-size: 200px;
  --border-size: 10px;

  max-height: 460px;
  height: 100%;
  width: 320px;
  margin-top: 2em;

  @extend %flex-container;
  flex-direction: column;

  font-family: Roboto, sans-serif;
  text-align: center;

  box-shadow: 0 0 8px 5px rgba(219, 210, 219, 1);
  border-radius: 7px;
  background-color: #fefefe;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  margin: 2.5em;

  overflow: hidden;
  width: var(--image-size);
  height: var(--image-size);
  border: var(--border-size) solid #efefef;
  border-radius: 50%;
}

.imageWrapper img {
  width: calc(var(--image-size) - 2 * var(--border-size));
  height: calc(var(--image-size) - 2 * var(--border-size));
  object-fit: cover;
  object-position: top;
}

.card h1,
h2 {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.card h1 {
  margin: 0 0.7em 0.2em;

  font-size: 30px;
  color: #fe5129;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.card h2 {
  margin: auto 1.5em 2em;

  font-size: 25px;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
