@import '../../common/styles/_templates.scss';

.dataList {
  @extend %flex-container;
  font-size: 2rem;
  margin: 3rem;
}

.controlBtn {
  width: 4rem;
  margin: 0.3rem;
}

.controlBtn:focus {
  outline: 5px solid blue;
}

.currentBtn {
  background-color: dodgerblue;
  color: white;
}

.prevNextBtn:focus {
  background-color: yellow;
  color: black;
}

.prevNextBtn {
  width: 5rem;
  margin: 0.2rem;
}

.dottedButton {
  background-color: gray;
}
