.dataList {
  display: inline-flex;
  justify-content: center;
  font-size: 2rem;
  margin: 3rem;
}

.controlBtn {
  width: 4rem;
}

.controlBtn:focus,
.prevNextBtn:focus {
  background-color: yellow;
  color: black;
}

.currentBtn {
  background-color: dodgerblue;
  color: white;
}

.prevNextBtn {
  width: 5rem;
}

.dottedButton {
  background-color: gray;
}
