.controlBtn {
  display: inline;
  color: black;
}

.currentBtn {
  background-color: red;
}

.dataWrapper {
  display: flex;
  justify-content: center;

  font-size: 2rem;
}

.dataList {
  display: inline-flex;
}

.dataWrapper button {
  width: 5rem;
}

.controlBtn button {
  width: 3rem;
  font-size: 2rem;
}

.dottedButton {
  display: inline;
}
