@import '../../common/styles/_templates.scss';

body {
  @extend %flex-container;
  flex-direction: column;
  background: #b9dee6;
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 20vh 0;
}

.error {
  margin: 20vh 5vw;
  font-size: 50px;
  font-weight: 900;
}
